<footer class="footer">
  <div class="footer-wrapper">
    <a href="./index.html" class="logo"><img src="./images/pictures/AlirezaAtaie.png" alt="Alireza Ataie"></a>

    <p class="footer-copy">
      ساخته شده با ❤️ توسط علیرضا عطائی &mdash; &copy; 1405
    </p>

    <div class="footer-social">
      <a href="https://github.com/ItscalledAta" target="_blank">
        <img src="./images/icons/github.svg" alt="github" />
      </a>
      <a href="https://www.linkedin.com/in/alireza-ataie82" target="_blank">
        <img src="./images/icons/linkedin.svg" alt="linkedin" />
      </a>
    </div>
  </div>
</footer>
