<header class="header">
  <nav class="navbar" aria-label="Main Navigation">

    <!-- Logo -->
    <a href="./index.html" class="logo" aria-label="Home">
      <img
        src="../images/pictures/logo.png"
        alt="Alireza Ataie"
      >
    </a>

    <!-- Desktop Navigation -->
    <ul class="nav-links">

      <li>
        <a href="./index.html">خانه</a>
      </li>

      <li>
        <a href="./index.html#services">سرویس ها</a>
      </li>

      <li>
        <a href="./about.html">درباره من</a>
      </li>

      <li>
        <a href="./index.html#contact-me">تماس با من</a>
      </li>

    </ul>

    <!-- Hamburger -->
    <button
      class="mb-ham"
      type="button"
      aria-label="Open Menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >

      <svg viewBox="0 0 64 48">

        <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>

        <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>

        <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>

      </svg>

    </button>

    <!-- Mobile Menu -->
    <aside
      class="mobile-menu"
      id="mobile-menu"
      aria-hidden="true"
    >

      <div class="mobile-menu__content">

        <ul class="mobile-links">

          <li>
            <a href="./index.html">خانه</a>
          </li>

          <li>
            <a href="./index.html#services">سرویس ها</a>
          </li>

          <li>
            <a href="./about.html">درباره من</a>
          </li>

          <li>
            <a href="./index.html#contact-me">تماس با من</a>
          </li>

        </ul>

      </div>

      <div class="mobile-menu__footer">

        <div class="mobile-socials">

          <a
            href="https://github.com/ItscalledAta"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github"
          >
            <img
              src="./images/icons/github.svg"
              alt="Github"
            >
          </a>

          <a
            href="https://www.linkedin.com/in/alireza-ataie82"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <img
              src="./images/icons/linkedin.svg"
              alt="LinkedIn"
            >
          </a>

        </div>

      </div>

    </aside>

  </nav>
</header>